* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  margin: 3rem 0;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  background-image: url(/images/bg-intro-mobile.png);
  background-color: #ff7a7a;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-text {
  padding: 1.5rem 0;
  max-width: 80%;
}

.main-text__heading {
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.free-trial {
  background-color: #6055a5;
  padding: 1rem 3.5rem;
  border-radius: 7px;
  -webkit-box-shadow: 3px 6px 6px #3e3c49;
          box-shadow: 3px 6px 6px #3e3c49;
}

.free-trial--bold {
  font-weight: 700;
}

.right-container {
  max-width: 35rem;
  margin: 1.5rem;
}

.form {
  background-color: #fff;
  margin: 1.5rem 0;
  padding: 2rem 1rem;
  border-radius: 7px;
  -webkit-box-shadow: 3px 6px 6px #3e3c49;
          box-shadow: 3px 6px 6px #3e3c49;
}

.form--field {
  width: 90%;
  height: 3rem;
  margin: 0.75rem;
  padding: 1rem;
  border-radius: 7px;
  border: 1px solid #b9b6d3;
}

.form--field::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.form--field:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.form--field::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.form--field::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.form--field:hover, .form--field:focus {
  border: 1px solid #3e3c49;
  outline: none;
}

.form__button {
  width: 90%;
  margin-top: 0.5rem;
  background-color: #38cc8c;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  height: 3rem;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__button:hover {
  opacity: 60%;
}

.form__p {
  color: #b9b6d3;
  font-size: 0.7rem;
  padding-top: 1rem;
  margin: 0 1rem;
}

.form--bold {
  color: #ff7a7a;
  font-weight: 700;
}

.form--error {
  display: none;
  color: #ff7a7a;
  font-size: 0.7rem;
  font-style: italic;
  margin-bottom: 0.5rem;
  text-align: right;
  margin-right: 5%;
}

.form--input.error
.form--error {
  display: block;
}

.form--input.error
.form--field {
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border: 2px #ff7a7a solid;
}

.form--input.error
.form--field::-webkit-input-placeholder {
  color: #ff7a7a;
}

.form--input.error
.form--field:-ms-input-placeholder {
  color: #ff7a7a;
}

.form--input.error
.form--field::-ms-input-placeholder {
  color: #ff7a7a;
}

.form--input.error
.form--field::placeholder {
  color: #ff7a7a;
}

.form--input.error
.form--field:hover, .form--input.error
.form--field:focus {
  opacity: 60%;
}

@media (min-width: 800px) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
    margin: 0;
  }
  .main-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 40rem;
    text-align: left;
    margin: 1.5rem;
  }
  .main-text__heading {
    font-size: 3rem;
  }
  .right-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=style.css.map */