$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);
$accent-blue: hsl(248, 32%, 49%);
$neutral-dark: hsl(249, 10%, 26%);
$neutral-gray: hsl(246, 25%, 77%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  margin: 3rem 0;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  background-image: url(/images/bg-intro-mobile.png);
  background-color: $primary-red;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-text {
  padding: 1.5rem 0;
  max-width: 80%;

  &__heading {
    margin-bottom: 1.5rem;
    line-height: 1.4;
  }
}

.free-trial {
  background-color: $accent-blue;
  padding: 1rem 3.5rem;
  border-radius: 7px;
  box-shadow: 3px 6px 6px $neutral-dark;

  &--bold {
    font-weight: 700;
  }
}

.right-container {
  max-width: 35rem;
  margin: 1.5rem;
}

.form {
  background-color: #fff;
  margin: 1.5rem 0;
  padding: 2rem 1rem;
  border-radius: 7px;
  box-shadow: 3px 6px 6px $neutral-dark;

  &--field {
    width: 90%;
    height: 3rem;
    margin: 0.75rem;
    padding: 1rem;
    border-radius: 7px;
    border: 1px solid $neutral-gray;

    &::placeholder {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
    }

    &:hover,
    &:focus {
      border: 1px solid $neutral-dark;
      outline: none;
    }
  }

  &__button {
    width: 90%;
    margin-top: 0.5rem;
    background-color: $primary-green;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    height: 3rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;

    &:hover {
      opacity: 60%;
    }
  }

  &__p {
    color: $neutral-gray;
    font-size: 0.7rem;
    padding-top: 1rem;
    margin: 0 1rem;
  }

  &--bold {
    color: $primary-red;
    font-weight: 700;
  }
}


  // Error styling
.form--error {
  display: none;
  color: $primary-red;
  font-size: 0.7rem;
  font-style: italic;
  margin-bottom: 0.5rem;
  text-align: right;
  margin-right: 5%;
  }

.form--input.error
.form--error {
  display: block;
}

.form--input.error
.form--field {
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border: 2px $primary-red solid;
  
  &::placeholder {
    color: $primary-red;
  }

  &:hover,
  &:focus {
    opacity: 60%;
  }
}


@media (min-width: 800px) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
    flex-direction: row;
    height: 100vh;
    margin: 0;
  }

  .main-text {
    flex: 1;
    max-width: 40rem;
    text-align: left;
    padding: 0 2rem;

    &__heading {
      font-size: 3rem;
    }
  }

  .right-container {
    flex: 1;
  }
}